target
logs

*/*dependency-reduced-pom.xml

*.jar
*.war
*.ear

*.ipr
*.iws
*.iml
**/*.iml
.idea
*.swp

.DS_Store
**/*.DS_Store

*/**/lib_managed/*
**/lib_managed/*
lib_managed

*/**/target/*
**/target/*
target
/sheets.googleapis.com-java-quickstart

**/bin/*
**/lib/*
*.classpath
*.project
**/*.settings
servicedata.json
.project
.settings
.classpath
.sass-cache
computeData.json
serviceAccount.json
application.conf
.ensime*

**/codekit-config.json

.cache
.target
